:root {
  --color--blue: rgb(69, 137, 179);
  --color--gray: rgb(134, 131, 123);
  --color--green: rgb(52, 102, 82);
  --color--red: rgb(162, 0, 6);
  --color--red--faded: rgba(162, 0, 6, 0.7);
  --color--white: rgb(245, 224, 211);
  --font-family: Lucida, sans-serif;
  --font-size: 100%;
  --font-size--body: 1.1rem;
  --font-size--heading: 1.2rem;
  --font-size--hero: 1.6rem;
}

a {
  color: var(--color--red);
  text-decoration: none;
}

address {
  font-style: inherit;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

hr {
  color: var(--color--red--faded);
}

img {
  height: auto;
  max-width: 100%;
}

.brand-header {
  align-items: center;
  background-color: var(--color--blue);
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom-color: var(--color--gray);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.brand-footer {
  border-top-color: var(--color--blue);
  border-top-style: solid;
  border-top-width: 2px;
}

.contact-information {
  text-align: center;
}

.contact-information li {
  margin: 1rem;
}

.address {
  --address-margin: 0.25rem;
}

.address p {
  margin-bottom: var(--address-margin);
  margin-top: 0;
}

.address p:last-of-type {
  margin-bottom: 0;
}

.button {
  --button--padding: 1rem;

  background-color: var(--color--red);
  border: solid 1px var(--color--red--faded);
  border-radius: 1rem;
  color: white;
  display: block;
  padding: var(--button--padding);
}

.button:focus,
.button:hover {
  text-decoration-color: white;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.button:focus {
  outline: var(--color--blue) solid 2px;
  outline-radius: 1rem;
}

.contact-information li:last-of-type {
  margin-bottom: 0;
}

.content-section {
  --content-section--padding: 1rem;

  margin-bottom: 0.5rem;
  padding-left: var(--content-section--padding);
  padding-right: var(--content-section--padding);
}

.content-section--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section--padded {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.mobile--hidden {
  display: none;
}

.page {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.type {
  --font-size: var(--font-size--body);

  font-size: var(--font-size);
  line-height: 1.2;
}

.type--heading {
  --font-size: var(--font-size--heading);
}

.type--section-heading {
  --font-size: var(--font-size--heading);

  color: var(--color--red);
  text-decoration-color: var(--color--red--faded);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.type--hero {
  --font-size: var(--font-size--hero);
}

.u-display--inline {
  display: inline;
}

.u-text-align--center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  :root {
    --font-size: 100%;
    --font-size--body: 1.2rem;
    --font-size--heading: 1.4rem;
    --font-size--hero: 2.4rem;
  }

  .address {
    --address-margin: 0.5rem;
  }

  .brand-footer {
    border-top: none;
    border-right-color: var(--color--gray);
    border-right-width: 2px;
    border-right-style: solid;
  }

  .content-section {
    --content-section--padding: 2rem;
  }

  .desktop--hidden {
    display: none;
  }

  .mobile--hidden {
    display: initial;
  }

  .page {
    display: grid;
    grid-template-rows:   4rem auto;
    grid-template-areas:  "header  header  header"
                          "contact content .";
  }

  .page > header {
    grid-area: header;
  }

  .page > main {
    grid-area: content;
    align-self: center;
  }

  .page > footer {
    grid-area: contact;
  }
}
