html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

address {
  font-style: inherit;
}

article {
  order: 1;
}

article img {
  width: 80%;
}

section aside {
  order: 1;
}

body {
  color: white;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  background-image: url("../img/background.jpg");
}

header {
  display: flex;
}

header,
main {
  text-align: center;
}

header h1 {
  font-size: 3em;
}

header h2 {
  text-align: center;
}

header img {
  width: 200px;
  height: 200px;
}

main {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  margin: auto;
  max-width: 960px;
}

section {
  display: flex;
}

.copy {
  text-align: left;
}

.instagram img {
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2em;
  }

  header img {
    width: 150px;
    height: 150px;
  }
}

